*{
    padding: 0;
    margin: 0;
}
header a:hover{
    text-decoration: none;
    color: black;
}
header a{
    text-decoration: none !important; 
    color: black;
}
header a:focus{
    text-decoration: none !important; 
    color: black;
}